body {
    background-color: #343a40;
    color: white;
}
.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
.w-33 {
    width: 33.33% !important;
  }
.navbar-nav .nav-item.active .nav-link {
    color: orange;
}
.navbar-nav .nav-item a.nav-link:hover {
    color: orange;
}
.navbar a {
    color: white;
}
.navbar-nav a:hover {
    color: orange;
}
.overlay {
    position: absolute;
}
.banner-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
}
#cta {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
}
#create {
    width: 85%;
}
a {
    color: white;
}
a:hover {
    color: orange;
    text-decoration: none;
}
.card-body a {
    color: blue;
}
.card-body a:hover {
    color: blue;
    text-decoration: none;
}
p a {
    color: orange;
}
p a:hover {
    color: orange;
    text-decoration: none;
}
.videoMedia video{
    width: 100%;
}
ul.blankStyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.img-overlay:hover img {
    opacity: 0.3;
}
.img-overlay:hover .img-text-overlay {
    opacity: 1;
}
.img-text-overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#mainLogo {
    width: 50%;
}
.dropLink {

}
.dropdownContainer {
    position: relative;
    display: inline-block;
}
.dropdownContent {
    display: none;
    position: absolute;
    color: black;
    background-color: #a8acaf;
    min-width: 160px;
    border-radius: 10px;
    z-index: 5;
    padding-left: 5px;
}
.dropdownContent a {
    color: black;
    text-decoration: none;
    padding: 5px;
    display: block;
}
.dropdownContent a:hover {
    color: white;
}
.dropdownContainer:hover .dropdownContent {
    display: block;
}
i:hover {
    color: orange;
}
.card-title:hover {
    color: orange;
}
#create {
    background-color: rgb(172, 94, 245);
}
.custom-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #343a40;
    opacity: 0.25;
    z-index: 1;
}
.modal {
    width: 33.33%;
    left: 66.66%;
}
.modal-dialog {
    max-width: 300px;
}
.modal.fade:not(.show).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}
#newsLeft,
#newsRight {
    top: 40%;
}
#newsLeft {
    left: 0%;
}
#newsRight {
    right: -8%;
}
.card-body {
    color: black;
}
.glide__arrows {
    color: orange;
}
@media (min-width: 576px) and (orientation: landscape) {
    #mainLogo {
        width: 30%;
    }
}
@media (min-width: 768px) {
    .banner-title {
        font-size: 2.5rem;
    }
    #mainLogo {
        width: 20%;
    }
    #cta {
        font-size: 2rem;
    }
}
@media (min-width: 1366px) {
    .ml-xxl-5 {
        margin-left: 4rem !important;
    }
}
@media (min-width: 1600px) {
    .ml-xxl-6 {
        margin-left: 12rem !important;
    }
}
@media (min-width: 1800px) {
    .ml-xxl-6 {
        margin-left: 18rem !important;
    }
}
