body {
    background-color: #343a40;
    color: white;
}
.case-study {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
.bg-grey {
    background-color: rgba(255, 255, 255, 0.5);
}
.bg-purple {
    background-color: rgba(179, 34, 48, 1);
}
/* Orange = 231, 136, 43 */
.bg-orange {
    background-color: rgb(231, 136, 19);
}
.bg-contact {
    background-color: rgba(55, 191, 48, 0.75);
}
.bg-faq {
    background-color: #fcba03;
}
.w-33 {
    width: 33.33% !important;
  }
/* Navigation bar */
.navbar-nav .nav-item.active .nav-link {
    color: orange;
}
.navbar-nav .nav-item a.nav-link:hover {
    color: orange;
}
.navbar a {
    color: white;
}
.navbar-nav a:hover {
    color: orange;
}
.project-padding {
    margin-right: 10%;
}
.overlay {
    position: absolute;
}
.banner-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
}
#cta {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
}
.w-85 {
    width: 85%;
}
.btn-grey {
    color: #fff;
    background-color: rgb(146, 146, 146);
    border-color: rgba(155, 155, 155, 1);
}
.btn-orange {
    color: #fff;
    background-color: rgb(231, 136, 19);
    border-color: rgb(231, 136, 19);
}
.videoMedia video{
    width: 100%;
}
ul.blankStyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.img-overlay:hover img {
    opacity: 0.3;
}
.img-overlay:hover .img-text-overlay {
    opacity: 1;
}
.img-text-overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#mainLogo {
    width: 50%;
}
.dropdownContainer {
    position: relative;
    display: inline-block;
}
.dropdownContent {
    display: none;
    position: absolute;
    color: black;
    background-color: #a8acaf;
    min-width: 160px;
    border-radius: 10px;
    z-index: 5;
    padding-left: 5px;
}
.dropdownContent a {
    color: black;
    text-decoration: none;
    padding: 5px;
    display: block;
}
.dropdownContent a:hover {
    color: white;
}
.dropdownContainer:hover .dropdownContent {
    display: block;
}
/* Links */
a {
    color: orange;
}
a:hover {
    color: orange;
    text-decoration: none;
}
/* Links in cards */
.card a {
    color: black;
}
.card-link {
    color: blue;
}
.card-link:hover {
    color: orange;
}
/* Links in footer */
.footer-information a {
    color: white;
}
.footer-information a:hover {
    color: orange;
}
footer a {
    color: white;
}
.img-fluid-logo {
    width: 100%;
}
.fa-facebook,
.fa-twitter,
.fa-instagram {
    color: white;
}
i:hover {
    color: orange;
}
.card-title:hover {
    color: orange;
}
.bg-light-purple {
    background-color: rgba(172, 94, 245);
}
.custom-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #343a40;
    opacity: 0.25;
    z-index: 1;
}
.modal {
    width: 33.33%;
    left: 66.66%;
}
.modal-dialog {
    max-width: 300px;
}
.modal.fade:not(.show).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}
.card-body {
    color: black;
}
.glide__arrows {
    color: orange;
}
.glide__slides {
    height: auto;
}
.card {
    height: 100%;
}
@media (min-width: 576px) and (orientation: landscape) {
    #mainLogo {
        width: 30%;
    }
    .glide__slides {
        height: 75vh;
    }
}
@media (min-width: 768px) {
    .img-fluid-logo {
        width: 50%;
    }
    .banner-title {
        font-size: 2.5rem;
    }
    #mainLogo {
        width: 20%;
    }
    #cta {
        font-size: 2rem;
    }
    .glide__slides {
        height: 25vh;
    }
    .container.narrow-lg {
        width: 75%;
    }
}
@media (min-width: 768px) and (orientation: landscape) {
    .glide__slides {
        height: 60vh;
    }
}
@media (min-width: 992px) {
    .glide__slides {
        height: 35vh;
    }
    .navleft-padding {
        margin-left: 20%;
    }
    .contact-padding {
        margin-left: 1rem;
    }
}
@media (min-width: 1200px) {
    .glide__slides {
        height: 30vh;
    }
    .container.narrow-lg {
        width: 50%;
    }
    .navleft-padding {
        margin-left: 27%;
    }
    .contact-padding {
        margin-left: 7rem;
    }
}
@media (min-width: 1366px) {
    .navleft-padding {
        margin-left: 29%;
    }
    .contact-padding {
        margin-left: 9.5rem;
    }
}
@media (min-width: 1600px) {
    .glide__slides {
        height: 25vh;
    }
    .navleft-padding {
        margin-left: 33%;
    }
    .contact-padding {
        margin-left: 18.5rem;
    }
}
@media (min-width: 1800px) {
    .navleft-padding {
        margin-left: 35.5%;
    }
    .contact-padding {
        margin-left: 24.2rem;
    }
}
